* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3d3d3d;
}

button {
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}

label {
  margin: 5px 0 0 0;
  display: block;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(234, 236, 236);
}

.addNewTask {
  border: none;
  margin: 7px 0 0 0;
  border-radius: 10px;
  height: 30px;
  display: block;
  width: 400px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(168, 168, 168);
  background-color: #535353;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.addNewTask:hover {
  color: #fff;
}

.todoButton {
  border: none;
  width: 40px;
}

.todoIcon {
  font-size: 30px;
}

.cross {
  color: red;
}

.edit {
  color: #f0e119;
}

.check {
  color: lawngreen;
}

.todoButton {
  margin: 0 25px 0 0;
  background-color: #000000;
  width: 50px;
  height: 50px;
  border-radius: 15px;
} 

h3 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(234, 236, 236);
  margin: 0 0 0 20px;
}

.task {
  border-radius: 20px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2a2a;
  box-shadow: black;
  margin: 30px 0 0 0;
}

.taskName {
  border-radius: 10px;
  width: 400px;
  height: 30px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: #535353;
  border: none;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.taskName:hover {
  color: #fff;
}

.taskDone {
  display: block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: lawngreen;
  margin: 2px 0 0 0;
}


.btn {
  margin: 40px 0 0 0;
  border-radius: 20px;
  border: none;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 200px;
  height: 30px;
  background-color: #535353;
  color: rgb(168, 168, 168);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.btn:hover {
  color: #fff;
}
